.App{
    text-align: center;
    font-family: Noto Sans KR, sans-serif;
}

.App > div{
    
    
    min-height: 720px;
    
}
#Profile,#Skills,#Projects,#Archiving{
  
    padding-top: 110px;
    min-height: 720px;
}

.bgcAble{
    background-color: black;
    transition: all 0.2s ease 0s;
}
.bgcUnable{
    background-color:transparent;
    transition: all 0.2s ease 0s;
    
}

